.accordion {
  margin: 14rem 10rem 10rem;
}
.faq_top {
  display: flex;
  justify-content: center;
}
.acco__txt {
  color: rgba(255, 120, 90, 1);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: -3%;
}
.faq_mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.faq_paragraph {
  color: rgba(134, 136, 138, 1);
  font-size: 14px;
  font-weight: 400;
  width: 50%;
  line-height: 24px;
  text-align: center;
  margin-bottom: 3rem;
}
.left_faq {
  grid-column: span 3 / auto;
}
.faq_heading {
  font-size: 44px;
  font-weight: 500;
  letter-spacing: -2%;
}
.faq_grid {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.accordion-item {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  border-radius: 16px;
}

.accordion-title {
  border-radius: 16px;
  background-color: #f4f4f4;
  padding: 10px;
  border: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  position: relative;
}

.accordion-content {
  padding: 10px;
  display: none;
}

.accordion-item.open .accordion-content {
  display: block;
}
.arrow-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  color: #7d7d7d;
  transform: translateY(-50%);
  transition: transform 0.3s;
}

.rotated-icon {
  transform: rotate(45deg);
  transition: transform ease-in-out 0.3s;
}

.item {
  background-color: rgba(243, 243, 243, 1);
  margin-bottom: 1rem;

  border-radius: 8px;
  gap: 1rem;
}
.title {
  padding: 1.17rem;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  color: rgba(31, 32, 34, 1);
  cursor: pointer;
  align-items: center;
}
.content {
  max-height: 0;
  padding: 0 1rem;
  color: rgba(134, 136, 138, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
.content.show {
  max-height: 9999px;
}
.small_paragraph {
  display: none;
}
.small_paragraph {
  color: rgba(134, 136, 138, 1);
  font-size: 14px;
  font-weight: 400;
  width: 100%;
  line-height: 24px;
  text-align: center;
  margin-bottom: 1rem;
}

@media (min-width: 1800px) and (max-width: 2000px) {
  .content {
    max-height: 0;
    padding: 0 1rem;
    color: rgba(134, 136, 138, 1);
    font-size: 22px;
  }
  .svg-inline--fa {
    height: 30px;
  }
  .small_paragraph{
    display: none;
  }

  .faq_top {
    hr {
      width: 1.8rem;
      border-top: 3.5px solid;
      margin-top: 0.8rem;
    }
    .acco__txt {
      font-size: 24px;
      font-weight: 600;
    }
  }
  .faq_heading {
    font-size: 46px;
  }
  .left_faq {
    grid-column: span 1 / auto;
  }
  .faq_paragraph {
    display: block;
    width: 70%;
    font-size: 22px;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 24px;
    font-weight: 600;
    padding: 2rem;
  }
  .faq_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
  }
  .accordion {
    margin: 3rem 10rem;
  }
  
  .community_download {
    width: 45vw;
    & img {
      height: 55%;
      width: 55%;
    }
  }
  .community_paragraph {
    font-size: 24px;
  }
 

  .faq_image {
    img {
      width: 100%;
    }
  }
 

  .community_component {
    .customer_says {
      font-size: 96px;
      font-weight: 600;
    }
  }

  .community_component {
    padding: 6rem 0rem 0rem 0rem;
  }
  .join_community {
    margin-bottom: 12rem;
  }
 
}

@media (min-width: 1600px) and (max-width: 1800px) {
  .content {
    max-height: 0;
    padding: 0 1rem;
    color: rgba(134, 136, 138, 1);
    font-size: 20px;
  }
  .svg-inline--fa {
    height: 28px;
  }
  .small_paragraph{
    display: none;
  }

  .faq_top {
    hr {
      width: 1.8rem;
      border-top: 3.5px solid;
      margin-top: 0.8rem;
    }
    .acco__txt {
      font-size: 22px;
      font-weight: 600;
    }
  }
  .faq_heading {
    font-size: 44px;
  }
  .left_faq {
    grid-column: span 1 / auto;
  }
  .faq_paragraph {
    display: block;
    width: 70%;
    font-size: 20px;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 22px;
    font-weight: 600;
  }
  .faq_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
  }
  .accordion {
    margin: 3rem 7rem;
  }
  .community_download {
    width: 45vw;
    & img {
      height: 55%;
      width: 55%;
    }
  }
  .community_paragraph {
    font-size: 24px;
  }
 
 
  
  .faq_image {
    img {
      width: 100%;
    }
  }
  

  .community_component {
    .customer_says {
      font-size: 80px;
      font-weight: 600;
    }
  }

  .community_component {
    padding: 6rem 0rem 0rem 0rem;
  }
  .join_community {
    margin-bottom: 12rem;
  }

}

@media (min-width: 1400px) and (max-width: 1600px) {
  .content {
    max-height: 0;
    padding: 0 1rem;
    color: rgba(134, 136, 138, 1);
    font-size: 20px;
  }
  .svg-inline--fa {
    height: 28px;
  }
  .small_paragraph{
    display: none;
  }

  .faq_top {
    hr {
      width: 1.8rem;
      border-top: 3.5px solid;
      margin-top: 0.8rem;
    }
    .acco__txt {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .faq_heading {
    font-size: 42px;
  }
  .left_faq {
    grid-column: span 1 / auto;
  }
  .faq_paragraph {
    display: block;
    width: 70%;
    font-size: 18px;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
  }
  .faq_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  }
  .back_ground {
    width: 99.7%;
  }
  .accordion {
    margin: 3rem 4rem;
  }
  .community_download {
    width: 45vw;
    & img {
      height: 55%;
      width: 55%;
    }
  }
  .community_paragraph {
    font-size: 18px;
  }
 
 
  .faq_image {
    img {
      width: 100%;
    }
  }


  .community_component {
    .customer_says {
      font-size: 50px;
      font-weight: 600;
    }
  }

  .community_component {
    padding: 6rem 0rem 0rem 0rem;
  }
  .join_community {
    margin-bottom: 4rem;
  }
  
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .content {
    max-height: 0;
    padding: 0 1rem;
    color: rgba(134, 136, 138, 1);
    font-size: 17px;
  }
  .svg-inline--fa {
    height: 26px;
  }

  .faq_top {
    hr {
      width: 1.8rem;
      border-top: 3.5px solid;
      margin-top: 0.7rem;
    }
    .acco__txt {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .faq_heading {
    font-size: 40px;
  }
  .left_faq {
    grid-column: span 1 / auto;
  }
  .faq_paragraph {
    display: block;
    width: 70%;
    font-size: 18px;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
  }
  .faq_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
  .back_ground {
    width: 99.7%;
  }
  .accordion {
    margin: 3rem 4rem;
  }
  .community_download {
    width: 45vw;
    & img {
      height: 55%;
      width: 55%;
    }
  }
  .community_paragraph {
    font-size: 18px;
  }

  .faq_image {
    img {
      width: 100%;
    }
  }

  .community_component {
    .customer_says {
      font-size: 50px;
      font-weight: 600;
    }
  }

  .community_component {
    padding: 6rem 0rem 0rem 0rem;
  }
  .join_community {
    margin-bottom: 0rem;
  }
}

@media screen and (max-width: 1200px) {
  .svg-inline--fa {
    height: 24px;
  }

  .faq_top {
    hr {
      width: 1.8rem;
      border-top: 3.5px solid;
    }
    .acco__txt {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .faq_heading {
    font-size: 38px;
  }
  .left_faq {
    grid-column: span 1 / auto;
  }
  .faq_paragraph {
    display: block;
    width: 70%;
    font-size: 16px;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
  }
  .faq_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
  .back_ground {
    width: 99%;
  }
  .accordion {
    margin: 3rem 1rem;
  }
  .community_download {
    & img {
      height: 47%;
      width: 47%;
    }
  }

  .faq_image {
    img {
      width: 100%;
    }
  }

  .community_component {
    .customer_says {
      font-size: 46px;
      font-weight: 600;
    }
  }

  .community_component {
    padding: 4rem 0rem 0rem 0rem;
  }
  .join_community {
    margin-bottom: 0rem;
  }

  .content {
    max-height: 0;
    padding: 0 1rem;
    color: rgba(134, 136, 138, 1);
    font-size: 14px;
  }
}

@media screen and (max-width: 1000px) {
  .faq_top {
    hr {
      width: 1.8rem;
      border-top: 3.5px solid;
    }
    .acco__txt {
      font-size: 18px;
      font-weight: 600;
    }
  }
  .faq_heading {
    font-size: 36px;
  }
  .left_faq {
    grid-column: span 1 / auto;
  }
  .faq_paragraph {
    display: block;
    width: 80%;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 14px;
    font-weight: 600;
  }
  .faq_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .back_ground {
    width: 99.7%;
  }
  .accordion {
    margin: 3rem 1rem;
  }
  .community_download {
    & img {
      height: 45%;
      width: 45%;
    }
  }

  .small_paragraph {
    display: block;
    text-align: center;
    padding: 0rem 1rem;
  }

  .small_paragraph {
    display: none;
  }
  .faq_image {
    img {
      width: 100%;
    }
  }
  .svg-inline--fa {
    height: 22px;
  }

  .community_component {
    .customer_says {
      font-size: 39px;
      font-weight: 600;
    }
  }

  .community_component {
    padding: 3.5rem 0rem 0rem 0rem;
  }
  .join_community {
    margin-bottom: 0rem;
  }
  .content {
    max-height: 0;
    padding: 0 1rem;
    color: rgba(134, 136, 138, 1);
    font-size: 14px;
  }
}

@media (min-width: 768px) and (max-width: 900px) {
  .back_ground {
    width: 99.7%;
  }
  .accordion {
    margin: 3rem 1rem;
  }
  .community_download {
    & img {
      height: 45%;
      width: 45%;
    }
  }
  .faq_heading {
    font-size: 32px;
  }
  .faq_grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  .item {
    margin-bottom: 0rem;
  }
  .small_paragraph {
    display: block;
    text-align: center;
    padding: 0rem 1rem;
  }
  .left_faq {
    grid-column: span 1 / auto;
  }
  .faq_paragraph {
    display: block;
    width: 80%;
    margin-bottom: 1rem;
  }
  .small_paragraph {
    display: none;
  }
  .faq_image {
    img {
      width: 100%;
    }
  }
  .svg-inline--fa {
    height: 22px;
  }

  .community_component {
    .customer_says {
      font-size: 39px;
      font-weight: 600;
    }
  }

  .community_component {
    padding: 2rem 0rem 0rem 0rem;
  }
  .join_community {
    margin-bottom: 0rem;
  }
  .title {
    font-size: 14px;
    font-weight: 600;
  }
  .content {
    max-height: 0;
    padding: 0 1rem;
    color: rgba(134, 136, 138, 1);
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .community_download {
    & img {
      height: 41%;
      width: 36%;
    }
  }
  .accordion {
    margin: 3rem 1rem;
  }
  .faq_heading {
    font-size: 32px;
  }
  .faq_grid {
    display: flex;
    flex-direction: column-reverse;
  }
  .small_paragraph {
    display: block;
    text-align: center;
    padding: 0rem 1rem;
  }
  .faq_paragraph {
    display: none;
  }
  .faq_image {
    img {
      width: 100%;
    }
  }
  .svg-inline--fa {
    height: 24px;
  }
  .community_paragraph {
    display: none;
  }
  .back_ground {
    width: 99.7%;
  }
  .community_component {
    .customer_says {
      font-size: 30px;
      font-weight: 600;
    }
  }

  .community_component {
    padding: 2.5rem 0rem 0rem 0rem;
  }
  .join_community {
    margin-bottom: 0rem;
  }
  .title {
    font-size: 18px;
    font-weight: 600;
  }
  .content {
    max-height: 0;
    padding: 0 1rem;
    color: rgba(134, 136, 138, 1);
    font-size: 16px;
  }
}

@media (min-width: 451px) and (max-width: 600px) {
  .community_component {
    padding: 1rem 0rem 0rem 0rem;
  }
  .content {
    max-height: 0;
    padding: 0 1rem;
    color: rgba(134, 136, 138, 1);
    font-size: 14px;
  }
  .title {
    font-size: 16px;
    font-weight: 600;
  }
  .svg-inline--fa {
    height: 22px;
  }
}

@media screen and (max-width: 451px) {
  .community_component {
    & .customer_says {
      font-size: 25px;
    }

    .community_download {
      & img {
        height: 30%;
        width: 30%;
      }
    }
    .accordion {
      margin: 3rem 1rem;
    }
    .faq_heading {
      font-size: 24px;
    }
    .faq_grid {
      display: flex;
      flex-direction: column-reverse;
    }
    .small_paragraph {
      display: block;
      text-align: center;
      padding: 0rem 1rem;
    }
    .faq_paragraph {
      display: none;
    }
    .faq_image {
      img {
        width: 100%;
      }
    }
    .svg-inline--fa {
      height: 22px;
    }
    .community_paragraph {
      display: none;
    }
    .back_ground {
      width: 99.7%;
    }
    .customer_says {
      font-size: 24px;
      font-weight: 600;
    }
    .community_component {
      padding: 1rem 0rem 0rem 0rem;
    }
    .join_community {
      margin-bottom: 0rem;
    }
    .title {
      font-size: 14px;
      font-weight: 600;
    }
  }
  .community_component {
    padding: 1rem 0rem 0rem 0rem;
  }
}
